[submodule "zlib1.3.1"]
	path = zlib1.3.1
	url = https://github.com/sisong/zlib.git
[submodule "HDiffPatch"]
	path = HDiffPatch
	url = https://github.com/sisong/HDiffPatch.git
[submodule "lzma"]
	path = lzma
	url = https://github.com/sisong/lzma.git
