[submodule "zlib1.2.11"]
	path = zlib1.2.11
	url = https://github.com/madler/zlib.git
[submodule "HDiffPatch"]
	path = HDiffPatch
	url = https://github.com/sisong/HDiffPatch.git
[submodule "zstd"]
	path = zstd
	url = https://github.com/facebook/zstd.git
