*.suo
builds/vc/Debug
builds/vc/Release
builds/vc/x64/
*.filters
*.layout
*.depend
builds/codeblocks/bin/
builds/codeblocks/obj/
builds/android_ndk_jni_mk/obj
builds/android_ndk_jni_mk/libs
xcshareddata
*.opensdf
*.sdf
*.ipch
xcuserdata/
builds/vc2019/Release/
builds/vc2019/x64/
